version: "3.9"

services:

  backend:
    build: ./backend
    container_name: chatbot-backend
    ports:
      - "8000:8000"
    environment:
      - OLLAMA_HOST=http://host.docker.internal:11434
    networks:
      - chatbot-net

  frontend:
    build: ./frontend
    container_name: chatbot-frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    environment:
      - BACKEND_URL=http://backend:8000
    networks:
      - chatbot-net

networks:
  chatbot-net:
    driver: bridge
